<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<div class="col-md-5" style="margin:20px;">
<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Buscar oportunidades</legend>

<!-- Text input-->
<div class="form-group">
  <div class="col-md-8">
  <input id="" name="" type="text" placeholder="Buscar" class="form-control input-md">
  <span class="help-block">ayuda</span>  
  </div>
</div>

<!-- Select Multiple -->
<div class="form-group">
  <div class="col-md-8">
    <select id="" name="" class="form-control" multiple="multiple">
      <option value="1">Camiones</option>
      <option value="2">Acoplados</option>
      <option value="">Repuestos</option>
      <option value="">Servicios</option>
    </select>
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <div class="col-md-8">
    <select id="" name="" class="form-control">
      <option value="1">Localidad...</option>
      <option value="2">Option two</option>
    </select>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <div class="col-md-4">
    <button id="" name="" class="btn btn-primary">Buscar</button>
  </div>
</div>

</fieldset>
</form>
</div>
