body {
  background-color: #f7f9fb;
  font-size: 14px;
  color: #565656;
}

@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 300;
  src: local("Muli Light"), local("Muli-Light"), url("https://fonts.gstatic.com/s/muli/v10/T-qN9Yh40TTJeenUALkjgg.woff2") format("woff2");
  unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

.container {
  width: 1170px;
}

a, a:hover {
  color: #ff5400;
}

i {
  color: #ff5400;
}

header {
  background-color: #ffffff;
  line-height: 30px;
}

/**
.navbar-nav > li > a {
  line-height: 50px;
}

 > a {
  line-height: 50px;
}
*/

.navbar {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.logotipo {
  position: absolute;
  margin-left: 10%;
  display: block;
  background: url(../images/logotipo-ch.png);
  width: 94px;
  height: 50px;
}

.logotipo span {
  display: none;
}

.navbar {
  border-radius: 0;
  margin: 0 0 0 0;
}

.navbar-header i {
  font-size: 20px;
}

#search {
  width: 350px;
  border-top: 3px #ff5400 solid;
  padding: 10px 10px 10px 10px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(250, 250, 250, 0.2), 0 6px 20px 0 rgba(250, 250, 250, 0.19);
  opacity: 0.95;
}

.form-group {
  margin-bottom: 10px;
}

.search-button {
  border: 3px #ff5400 solid;
  width: 125px;
  line-height: 40px;
  background-color: #ff5400;
  color: #ffffff;
  text-transform: uppercase;
}

#slideshow {
  padding: 50px;
  height: 500px;
  background: url(../images/slide_1.jpg) right -50px;
}

.center-content {
  text-align: center;
}

h2 {
  text-transform: uppercase;
  font-weight: bold;
}

.main-catalog {
  margin-top: 50px;
  margin-bottom: 50px;
}

.truck-block {
  width: 299px;
  padding: 0 0 0 0;
  -webkit-box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.truck-1 {
  background: url(../images/493.jpg) no-repeat;
}

.truck-2 {
  background: url(../images/494.jpeg) no-repeat;
}

.truck-3 {
  background: url(../images/495.jpeg) no-repeat;
}

.truck-block .title {
  position: absolute;
  top: 120px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px 5px 5px 5px;
  vertical-align: bottom;
  background-color: #ff5400;
  opacity: 0.9;
}

.truck-block .location {
  position: relative;
  float: left;
  /**
  position: absolute;*/
  margin-top: 230px;

  padding: 22px 0 18px;
  box-sizing: border-box;
  letter-spacing: 0.3px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 25px;
}

.truck-block .location span {
    border-color: #ff5400;
    color: #222222;
    text-transform: uppercase;
    border-left: 3px solid #ff5400;
    padding-left: 15px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.truck-block .description {
  position: relative;
  float: left;
  line-height: 25px;
  font-weight: 300;
  letter-spacing: 0.3px;
  padding: 0 15px 20px 15px;
}

.truck-block .model, .kilometers, .transmision {
  line-height: 50px;
  background-color: #f1f1f1;
  border: 1px #ffffff solid;
  text-align: center;
}


.check { border: 1px #ff0000 solid; }

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
footer { background-color:#0c1a1e; min-height:350px; font-family: 'Open Sans', sans-serif; }
.footerleft { margin-top:50px; padding:0 36px; }
.logofooter { margin-bottom:10px; font-size:25px; color:#fff; font-weight:700;}

.footerleft p { color:#fff; font-size:12px !important; font-family: 'Open Sans', sans-serif; margin-bottom:15px;}
.footerleft p i { width:20px; color:#999;}


.paddingtop-bottom {  margin-top:50px;}
.footer-ul { list-style-type:none;  padding-left:0px; margin-left:2px;}
.footer-ul li { line-height:29px; font-size:12px;}
.footer-ul li a { color:#a0a3a4; transition: color 0.2s linear 0s, background 0.2s linear 0s; }
.footer-ul i { margin-right:10px;}
.footer-ul li a:hover {transition: color 0.2s linear 0s, background 0.2s linear 0s; color:#ff670f; }

.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 
 

 
 .icon-ul { list-style-type:none !important; margin:0px; padding:0px;}
 .icon-ul li { line-height:75px; width:100%; float:left;}
 .icon { float:left; margin-right:5px;}
 
 
 .copyright { min-height:40px; background-color:#000000;}
 .copyright p { text-align:left; color:#FFF; padding:10px 0; margin-bottom:0px;}
 .heading7 { font-size:21px; font-weight:700; color:#d9d6d6; margin-bottom:22px;}
 .post p { font-size:12px; color:#FFF; line-height:20px;}
 .post p span { display:block; color:#8f8f8f;}
 .bottom_ul { list-style-type:none; float:right; margin-bottom:0px;}
 .bottom_ul li { float:left; line-height:40px;}
 .bottom_ul li:after { content:"/"; color:#FFF; margin-right:8px; margin-left:8px;}
 .bottom_ul li a { color:#FFF;  font-size:12px;}
