    <div id="slideshow">

      <div class="container">
        <div class="row">
        <div class="col-md-4">
          <div id="search">
          <form action="search/" method="post">
            <fieldset>
              <!-- Form Name -->
              <!-- Text input-->
              <div class="form-group">
                <div class="col-md-12">
                <input id="textinput" name="textinput" placeholder="buscar vehiculo" class="form-control input-md" type="text">
                <span class="help-block">Ayuda</span>  
                </div>
              </div>

              <div class="form-group">
                <label></label>
                <div class="col-md-12">
                  <select id="selectbasic" name="selectbasic" class="form-control">
                    <option value="1">Todas las provincias</option>
                    <option value="2">Entre R&iacute;os</option>
                  </select>
                <span class="help-block"></span>  
                </div>
              </div>

              <div class="form-group">
                <div class="col-md-12">
                  <select id="selectmultiple" name="selectmultiple" class="form-control" multiple="multiple">
                    <option value="0">Todas las categorias</option>
                    <option value="1">Camiones</option>
                    <option value="2">Trailers</option>
                    <option value="3">Repuestos</option>
                    <option value="4">Servicios</option>
                  </select>
                <span class="help-block"></span>  
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-6 col-md-6">
                  <button type="submit" class="search-button">Buscar</button>
                </div>
              </div>
            </fieldset>
          </form>
          </div>
        </div>

        <div class="col-md-8 center-content">
          <h2><i class="fa fa-upload" aria-hidden="true"></i> <a href="#">Publicar Vehiculo</a></h2>
        </div>

      </div>
      </div>
    </div>

    <article>
      <div class="container">

      <div class="row">
        <div class="col-md-3">

          <%= image_tag("493.jpg") %> 
          <div class="page-header">
            <h1>Nissan <small>Nuevo</small></h1>
          </div>
          <p class="collapse" id="viewdetails_1">mentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" data-toggle="collapse" data-target="#viewdetails_1">Ver detalles &raquo;</a></p>

          <div class="row">
            <div class="col-md-4 model">2016</div>
            <div class="col-md-4 kilometers">80.000 km</div>
            <div class="col-md-4 transmision">Automatic</div>
          </div>

        </div>
        <div class="col-md-3">
           <%= image_tag("493.jpg") %> 
          <div class="page-header">
            <h1>Nissan <small>Nuevo</small></h1>
          </div>
          <p class="collapse" id="viewdetails_2">mentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" data-toggle="collapse" data-target="#viewdetails_2">Ver detalles &raquo;</a></p>

          <div class="row">
            <div class="col-md-4 model">2016</div>
            <div class="col-md-4 kilometers">80.000 km</div>
            <div class="col-md-4 transmision">Automatic</div>
          </div>
       
        </div>
        <div class="col-md-3">
           <%= image_tag("493.jpg") %> 
          <div class="page-header">
            <h1>Nissan <small>Nuevo</small></h1>
          </div>
          <p class="collapse" id="viewdetails_3">mentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" data-toggle="collapse" data-target="#viewdetails_3">Ver detalles &raquo;</a></p>

          <div class="row">
            <div class="col-md-4 model">2016</div>
            <div class="col-md-4 kilometers">80.000 km</div>
            <div class="col-md-4 transmision">Automatic</div>
          </div>
       
        </div>
        <div class="col-md-3">
           <%= image_tag("493.jpg") %> 
          <div class="page-header">
            <h1>Nissan <small>Nuevo</small></h1>
          </div>
          <p class="collapse" id="viewdetails_4">mentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" data-toggle="collapse" data-target="#viewdetails_4">Ver detalles &raquo;</a></p>

          <div class="row">
            <div class="col-md-4 model">2016</div>
            <div class="col-md-4 kilometers">80.000 km</div>
            <div class="col-md-4 transmision">Automatic</div>
          </div>
       
        </div>
      </div>


    </div>
    </article>
