    <header>
     <div class="container">
       <div class="col-md-12">
        <div class="col-md-7">
          <i class="fa fa-phone" aria-hidden="true"></i> <label>Teléfono:</label> 0343 154 192620
          <i class="fa fa-envelope-o" aria-hidden="true"></i> <label>Correo:</label> info@camiones.club
         </div>
         <div class="col-md-5">
           Bienvenido a camiones club. 
               <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Ingresar</b> <span class="caret"></span></a>
          <ul id="login-dp" class="dropdown-menu">
            <li>
               <div class="row">
                  <div class="col-md-12">
                    Login via
                    <div class="social-buttons">
                      <a href="#" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>
                      <a href="#" class="btn btn-tw"><i class="fa fa-twitter"></i> Twitter</a>
                    </div>
                                    or
                     <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
                        <div class="form-group">
                           <label class="sr-only" for="exampleInputEmail2">Email address</label>
                           <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email address" required>
                        </div>
                        <div class="form-group">
                           <label class="sr-only" for="exampleInputPassword2">Password</label>
                           <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" required>
                                                 <div class="help-block text-right"><a href="">Forget the password ?</a></div>
                        </div>
                        <div class="form-group">
                           <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                        </div>
                        <div class="checkbox">
                           <label>
                           <input type="checkbox"> keep me logged-in
                           </label>
                        </div>
                     </form>
                  </div>
                  <div class="bottom text-center">
                    New here ? <a href="#"><b>Join Us</b></a>
                  </div>
               </div>
            </li>
          </ul> o <a href="#">Registrarse</a>.
         </div>
       </div>
     </div>
    </header>
